input[type='range']{
    width: 100%;
    accent-color:rgb(172, 43, 236);
}

.labels{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
}

.adjust{
    font-size: 20px;
    font-weight: bolder;
}

.intensity{
    padding-bottom: 2rem;
}